<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity Search - Home</title>
    <meta name="description" content="Search with privacy and efficiency.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="search" type="application/opensearchdescription+xml" title="Infinity Search"
          href="https://www.infinitydecentralized.com/opensearch.xml">
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/bulma_dark.css">
    <link rel="stylesheet" href="/static/css/bulma_nature.css">
    <link rel="stylesheet" href="/static/css/bulma_space.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/js-cookie.js"></script>
    <script src="/static/js/theme_top.js"></script>
</head>

<body class="Site">
<div id="page_style" class="Site-content page__style page__description">
    <div style="margin-top: 7%"></div>
    <div style="text-align: center;">
        <a href="/" id="black_logo">
            <img src="/static/images/is/is_d_b.png" width="20%" style="min-width: 220px;">
        </a>
    </div>
    <div class="content column is-half is-offset-one-quarter"
         style="margin-top: 30px; padding-bottom: 0; margin-bottom: 20px;">
        <form action="/results" method="post" id="input_form" autocomplete="off">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input id="search_query" class="input is-medium" type="search" oninput="hide_or_show_tabs();" placeholder="Search for anything on the web"
                           name="Search"
                           autofocus="autofocus" onfocus="this.select()" required>
                </div>
                <div class="control">
                    <button class="button input is-medium search-button-icon"><img src="/static/images/fa/search.svg" style="height: 22px; width: 22px;">
                    </button>
                </div>
            </div>
            <b>External Endpoints</b>
            <textarea class="textarea" id="external_nodes" name="external_nodes"
                      placeholder="https://example.com/results_json&#10;https://dec.com/results_json">{% if external_node_endpoints|length > 0 %}{% for endpoint in external_node_endpoints %}{{ endpoint }}&#10;{%  endfor %}{% endif %}</textarea>

        </form>
    </div>
</div>
</body>
</html>
