{% extends 'pages/article_layout.html' %}
{% block article %}
<h1 class="title is-1"> Infinity Decentralized Privacy Policy </h1>
<hr/>

<h2> Information Collected </h2>
We do not log any information on Infinity Decentralized.
<hr/>

<h2> Information Shared </h2>
    If you ever choose to get results from other providers than this instance, then what was searched for will be passed to them
    but it will appear as our server making the request.
<br><br>


{% endblock %}
